.loader-no-bg {
  .mat-dialog-container {
    background: unset;
    box-shadow: none;
  }
}


.detail-dialog {
  @media only screen and (max-width: 769px) {
    min-width: 95vw !important;
    .mat-dialog-container {
      width: 100%;
    }
  }
}
