<div class="detail-container">
  <div fxLayout fxLayoutAlign="start end" fxLayoutGap="15px">
    <div class="image-container" fxFlex="30%">
      <img [alt]="data.Title.slice(0,10)" [src]="data.Poster">
    </div>
    <div fxFlex fxLayout="column nowrap" fxLayoutGap="8px">
      <h2 mat-dialog-title>{{data.Title}}</h2>
      <sub>
        <ng-container *ngFor="let item of genres; let i = index;">
          <span *ngIf="i !== 0">&nbsp;<mat-divider vertical></mat-divider>&nbsp;</span><span>{{item}}</span>
        </ng-container>
      </sub>
      <div class="rating" fxLayout fxLayoutAlign="space-between">
        <p>
          <span class="imdb-rated">{{data.Rated}}</span>&nbsp;<strong>{{data.Runtime}}</strong>
        </p>
        <div class="imdb"><img alt="imdb"
                               src="../../assets/images/imdb-logo.png">&nbsp;<strong>{{data.imdbRating}}</strong>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <mat-tab-group dynamicHeight>
      <mat-tab label="Synopsis">
        <div class="details">
          <div>
            <p><strong>Release Date</strong></p>
            <p>{{data.Released}}</p>
          </div>
          <div>
            <p><strong>Language</strong></p>
            <p>{{data.Language}}</p>
          </div>
          <div>
            <p><strong>Country</strong></p>
            <p>{{data.Country}}</p>
          </div>
        </div>
        <div class="plot">
          <h3>Plot</h3>
          <p>{{data.Plot}}</p>
        </div>
        <div class="plot">
          <h3>Awards</h3>
          <p>{{data.Awards}}</p>
        </div>
      </mat-tab>
      <mat-tab label="Cast">
        <div class="plot cast">
          <h3>Actors</h3>
          <ul>
            <li *ngFor="let item of actors" fxLayout fxLayoutAlign="start center" fxLayoutGap="15px">
              <mat-icon color="accent">person_3</mat-icon>
              <span>{{item}}</span>
            </li>
          </ul>
        </div>
        <div class="plot cast">
          <h3>Writers</h3>
          <ul>
            <li *ngFor="let item of writers" fxLayout fxLayoutAlign="start center" fxLayoutGap="15px">
              <mat-icon color="primary">edit</mat-icon>
              <span>{{item}}</span>
            </li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Other">
        <div class="other">
          <p>Director: <span>{{data.Director}}</span></p>
          <p>Year: <span>{{data.Year}}</span></p>
          <p>Type: <span>{{data.Type | titlecase}}</span></p>
          <p>Website: <span>{{data.Website}}</span></p>
          <p>Rating:</p>
          <ul>
            <li *ngFor="let item of data.Ratings">
              <p>{{item.Source}}: <span>{{item.Value}}</span></p>
            </li>
          </ul>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <button [mat-dialog-close]="null" color="warn" mat-stroked-button>Close</button>
  </div>
</div>
