.home-container {
  padding: 30px;
  background-color: #252a30;
  min-height: calc(100vh - 50px);
  width: 100%;

  h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 1.73rem;
  }

  .search-text {
    font-style: italic;
    color: #FFF;
  }

  .search-box {
    background: #FFF;
    border: 4px;

    form {
      padding: 15px;
    }
  }

  .main-content {
    margin-top: 40px;
  }

  .favorites, .results {
    h4 {
      color: #FFF;
    }
  }

  .favorites {
    h4 {
      color: unset;
      margin: 15px 0 0;
      padding-right: 10px;
    }

    .content {
      background: #FFF;
    }
  }
}

.w-100 {
  width: 100%;
}

.prompt {
  color: grey;
  font-size: 15px;
}

.loading {
  margin-top: 20px;
}

