<div class="home-container">
  <h1>Movie Search</h1>
  <h4 class="search-text">Search and select your favorite movies</h4>
  <div class="search-box">
    <form [formGroup]="searchFormGroup" fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Movie Title</mat-label>
          <input formControlName="title" matInput type="text">
          <mat-error>Title is required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Year</mat-label>
          <input [matDatepicker]="dp" [max]="now" formControlName="year" matInput>
          <mat-hint>YYYY</mat-hint>
          <mat-datepicker-toggle [for]="dp" matSuffix></mat-datepicker-toggle>
          <button (click)="clearDate()" mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
          <mat-datepicker #dp (yearSelected)="setYear($event, dp)" startView="multi-year"></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Type</mat-label>
          <mat-select [disableOptionCentering]="true" formControlName="type">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let option of typeOptions" [value]="option.value">{{option.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="main-content" fxLayout="column nowrap" fxLayout.gt-sm="row" fxLayoutGap="20px">
    <div class="results" fxFlex.gt-sm>
      <h4>Search Results: {{searchText}} <span *ngIf="searchText">({{(service.paginateInfo$ | async)?.total}})</span>
      </h4>
      <div (scrolled)="service.onScroll()" [infiniteScrollDisabled]="!((service.paginateInfo$ | async)?.total)"
           [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50"
           class="content" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px 28px grid"
           infinite-scroll>
        <ng-container *ngIf="(service.error$ | async) else results;">
          <p class="prompt">No results found for search criteria</p>
        </ng-container>
        <ng-template #results>
          <ng-container *ngIf="(service.searchResults$ | async) as searchResults">
            <ng-container *ngIf="searchResults.length;else searchPrompt;">
              <div
                *ngFor="let movie of searchResults; trackBy: trackByFn;"
                fxFlex="0 1 33.33%"
                fxFlex.gt-lg="350px"
                fxFlex.lt-sm="100%" fxFlex.md="0 1 50%" fxFlex.sm="50%">
                <monorepo-movie-card (addFavorite)="addFavorite(movie)" (showDetail)="showDetail(movie.imdbID)"
                                     [image]="movie.Poster"
                                     [isFavorite]="storage.hasKey(movie.imdbID)" [title]="movie.Title"
                                     [type]="movie.Type" [year]="movie.Year"></monorepo-movie-card>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>
        <ng-template #searchPrompt>
          <ng-container *ngIf="(service.loading$ | async) === false">
            <p class="prompt">Select any movie criteria above to search</p>
          </ng-container>
        </ng-template>
      </div>
      <div *ngIf="service.loading$ | async" class="loading" fxLayout fxLayoutAlign="center center">
        <ng-container [ngTemplateOutlet]="loader"></ng-container>
      </div>
    </div>
    <div [fxFlexOrder.lt-md]="-2" class="favorites" fxFlex.gt-sm="30%">
      <mat-accordion class="favorites-accordion">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4 [matBadge]="favorites.length || '0'" matBadgeColor="accent">FAVORITES</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content">
            <monorepo-favorites (remove)="removeFavorite($event)" [favorites]="favorites"></monorepo-favorites>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<ng-template #loader>
  <mat-spinner color="accent" diameter="25"></mat-spinner>
</ng-template>
